/*
    First we set the foreground colour of the body and a tag to dark grey.
    Then we change the colours for for card category and tagline secctions.
*/

html {
    scroll-behavior: smooth;
}

body {
    color: #161616;
}

a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: #D73953;
}

.section-tagline {
    color: #D73953;
}